# Built mdbook
/out

# Direnv cache
/.direnv/

# Trivial flake, no need to check in lock file
/flake.lock
/result

src/infra/persistence/*
src/infra/startup_time.txt
src/offchain/adhoc-ledger/lp_script_head_1.cbor
src/offchain/adhoc-ledger/lp_script_head_2.cbor

node_modules
**/build

# For typst compilations
*.pdf

src/onchain/tests/infra/l1-utxos.json
src/onchain/tests/infra/persistence/**
