# Built mdbook
/out

# Direnv cache
/.direnv/

# Trivial flake, no need to check in lock file
/flake.lock
/result

src/infra/persistence/*
src/infra/startup_time.txt

node_modules
**/build

# For typst compilations
*.pdf