# Hub-and-spoke topology

# Hub

# Ida will work as "Spoke"
#
# # Head A: alice, ida-1
# # Head B: bob, ida-2
# # Head C: charlie, ida-3

x-hydra-node-base: &hydra-node-base
  image: ghcr.io/cardano-scaling/hydra-node:1.0.0
  networks:
    hydra_net:
  restart: always

services:
  # Head A: alice, ida-1
  hydra-node-alice:
    <<: *hydra-node-base
    volumes:
      - .:/devnet
      - ./persistence/alice-hs:/devnet/persistence/alice-hs
    ports:
      - "4021:4021"
      - "5021:5021"
    command:
      [
        "--node-id", "1",
        "--api-host", "0.0.0.0",
        "--listen", "172.16.238.10:5021",
        "--monitoring-port", "6021",
        "--api-port", "4021",
        "--peer", "172.16.238.20:5022",
        "--hydra-signing-key", "/devnet/credentials/alice/alice-hydra.sk",
        "--hydra-verification-key", "/devnet/credentials/ida/ida-hydra.vk",
        "--persistence-dir", "/devnet/persistence/alice-hs",
        "--offline-head-seed", "0000000000000000000000000000000000000000000000000000000000000001",
        "--ledger-protocol-parameters", "/devnet/protocol-parameters.json",
        "--initial-utxo", "/devnet/initial-utxos/hub-and-spoke/utxo-1.json"
      ]
    networks:
      hydra_net:
        ipv4_address: 172.16.238.10

  hydra-node-ida-1:
    <<: *hydra-node-base
    volumes:
      - .:/devnet
      - ./persistence/ida-1-hs:/devnet/persistence/ida-1-hs
    ports:
      - "4022:4022"
      - "5022:5022"
    command:
      [
        "--node-id", "2",
        "--api-host", "0.0.0.0",
        "--listen", "172.16.238.20:5022",
        "--monitoring-port", "6022",
        "--api-port", "4022",
        "--peer", "172.16.238.10:5021",
        "--hydra-signing-key", "/devnet/credentials/ida/ida-hydra.sk",
        "--hydra-verification-key", "/devnet/credentials/alice/alice-hydra.vk",
        "--persistence-dir", "/devnet/persistence/ida-1-hs",
        "--offline-head-seed", "0000000000000000000000000000000000000000000000000000000000000001",
        "--ledger-protocol-parameters", "/devnet/protocol-parameters.json",
        "--initial-utxo", "/devnet/initial-utxos/hub-and-spoke/utxo-1.json"
      ]
    networks:
      hydra_net:
        ipv4_address: 172.16.238.20

  # Head B: bob, ida-2
  hydra-node-bob:
    <<: *hydra-node-base
    volumes:
      - .:/devnet
      - ./persistence/bob-hs:/devnet/persistence/bob-hs
    ports:
      - "4024:4024"
      - "5024:5024"
    command:
      [
        "--node-id", "4",
        "--api-host", "0.0.0.0",
        "--listen", "172.16.238.40:5024",
        "--monitoring-port", "6024",
        "--api-port", "4024",
        "--peer", "172.16.238.50:5025",
        "--hydra-signing-key", "/devnet/credentials/bob/bob-hydra.sk",
        "--hydra-verification-key", "/devnet/credentials/ida/ida-hydra.vk",
        "--persistence-dir", "/devnet/persistence/bob-hs",
        "--offline-head-seed", "0000000000000000000000000000000000000000000000000000000000000002",
        "--ledger-protocol-parameters", "/devnet/protocol-parameters.json",
        "--initial-utxo", "/devnet/initial-utxos/hub-and-spoke/utxo-2.json"
      ]
    networks:
      hydra_net:
        ipv4_address: 172.16.238.40

  hydra-node-ida-2:
    <<: *hydra-node-base
    volumes:
      - .:/devnet
      - ./persistence/ida-2-hs:/devnet/persistence/ida-2-hs
    ports:
      - "4025:4025"
      - "5025:5025"
    command:
      [
        "--node-id", "5",
        "--api-host", "0.0.0.0",
        "--listen", "172.16.238.50:5025",
        "--monitoring-port", "6025",
        "--api-port", "4025",
        "--peer", "172.16.238.40:5024",
        "--hydra-signing-key", "/devnet/credentials/ida/ida-hydra.sk",
        "--hydra-verification-key", "/devnet/credentials/bob/bob-hydra.vk",
        "--persistence-dir", "/devnet/persistence/ida-2-hs",
        "--offline-head-seed", "0000000000000000000000000000000000000000000000000000000000000002",
        "--ledger-protocol-parameters", "/devnet/protocol-parameters.json",
        "--initial-utxo", "/devnet/initial-utxos/hub-and-spoke/utxo-2.json"
      ]
    networks:
      hydra_net:
        ipv4_address: 172.16.238.50

  # Head C: charlie, ida-3
  hydra-node-charlie:
    <<: *hydra-node-base
    volumes:
      - .:/devnet
      - ./persistence/charlie-hs:/devnet/persistence/charlie-hs
    ports:
      - "4027:4027"
      - "5027:5027"
    command:
      [
        "--node-id", "7",
        "--api-host", "0.0.0.0",
        "--listen", "172.16.238.70:5027",
        "--monitoring-port", "6027",
        "--api-port", "4027",
        "--peer", "172.16.238.80:5028",
        "--hydra-signing-key", "/devnet/credentials/charlie/charlie-hydra.sk",
        "--hydra-verification-key", "/devnet/credentials/ida/ida-hydra.vk",
        "--persistence-dir", "/devnet/persistence/charlie-hs",
        "--offline-head-seed", "0000000000000000000000000000000000000000000000000000000000000003",
        "--ledger-protocol-parameters", "/devnet/protocol-parameters.json",
        "--initial-utxo", "/devnet/initial-utxos/hub-and-spoke/utxo-3.json"
      ]
    networks:
      hydra_net:
        ipv4_address: 172.16.238.70

  hydra-node-ida-3:
    <<: *hydra-node-base
    volumes:
      - .:/devnet
      - ./persistence/ida-3-hs:/devnet/persistence/ida-3-hs
    ports:
      - "4028:4028"
      - "5028:5028"
    command:
      [
        "--node-id", "8",
        "--api-host", "0.0.0.0",
        "--listen", "172.16.238.80:5028",
        "--monitoring-port", "6028",
        "--api-port", "4028",
        "--peer", "172.16.238.70:5027",
        "--hydra-signing-key", "/devnet/credentials/ida/ida-hydra.sk",
        "--hydra-verification-key", "/devnet/credentials/charlie/charlie-hydra.vk",
        "--persistence-dir", "/devnet/persistence/ida-3-hs",
        "--offline-head-seed", "0000000000000000000000000000000000000000000000000000000000000003",
        "--ledger-protocol-parameters", "/devnet/protocol-parameters.json",
        "--initial-utxo", "/devnet/initial-utxos/hub-and-spoke/utxo-3.json"
      ]
    networks:
      hydra_net:
        ipv4_address: 172.16.238.80

  startup-time-logger:
    image: alpine
    depends_on:
      - hydra-node-alice
      - hydra-node-bob
      - hydra-node-charlie
      - hydra-node-ida-1
      - hydra-node-ida-2
      - hydra-node-ida-3
    command: sh -c "echo $$(( $$(date +%s) * 1000 )) > /shared/startup_time.txt && echo 'Timestamp written:' $$(cat /shared/startup_time.txt)"
    volumes:
      - .:/shared

networks:
  hydra_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.16.238.0/24
          gateway: 172.16.238.1
