# Single-path topology

# Head A: alice, ida-1
# Head B: ida-2, bob-1
# Head C: bob-2, charlie-1
# Head D: charlie-2, dave

x-hydra-node-base: &hydra-node-base
  image: ghcr.io/cardano-scaling/hydra-node:1.0.0
  networks:
    hydra_net:
  restart: always

services:
  # Head A: alice, ida-1
  hydra-node-alice:
    <<: *hydra-node-base
    volumes:
      - .:/devnet
      - ./persistence/alice-sp:/devnet/persistence/alice-sp
    ports:
      - "4011:4011"
      - "5011:5011"
    command:
      [
        "--node-id", "1",
        "--api-host", "0.0.0.0",
        "--listen", "172.16.238.10:5011",
        "--monitoring-port", "6011",
        "--api-port", "4011",
        "--peer", "172.16.238.20:5012",
        "--hydra-signing-key", "/devnet/credentials/alice/alice-hydra.sk",
        "--hydra-verification-key", "/devnet/credentials/ida/ida-hydra.vk",
        "--persistence-dir", "/devnet/persistence/alice-sp",
        "--offline-head-seed", "0000000000000000000000000000000000000000000000000000000000000001",
        "--ledger-protocol-parameters", "/devnet/protocol-parameters.json",
        "--initial-utxo", "/devnet/initial-utxos/single-path/utxo-1.json"
      ]
    networks:
      hydra_net:
        ipv4_address: 172.16.238.10

  hydra-node-ida-1:
    <<: *hydra-node-base
    volumes:
      - .:/devnet
      - ./persistence/ida-1-sp:/devnet/persistence/ida-1-sp
    ports:
      - "4012:4012"
      - "5012:5012"
    command:
      [
        "--node-id", "2",
        "--api-host", "0.0.0.0",
        "--listen", "172.16.238.20:5012",
        "--monitoring-port", "6012",
        "--api-port", "4012",
        "--peer", "172.16.238.10:5011",
        "--hydra-signing-key", "/devnet/credentials/ida/ida-hydra.sk",
        "--hydra-verification-key", "/devnet/credentials/alice/alice-hydra.vk",
        "--persistence-dir", "/devnet/persistence/ida-1-sp",
        "--offline-head-seed", "0000000000000000000000000000000000000000000000000000000000000001",
        "--ledger-protocol-parameters", "/devnet/protocol-parameters.json",
        "--initial-utxo", "/devnet/initial-utxos/single-path/utxo-1.json"
      ]
    networks:
      hydra_net:
        ipv4_address: 172.16.238.20

  # Head B: ida-2, bob-1
  hydra-node-ida-2:
    <<: *hydra-node-base
    volumes:
      - .:/devnet
      - ./persistence/ida-2-sp:/devnet/persistence/ida-2-sp
    ports:
      - "4013:4013"
      - "5013:5013"
    command:
      [
        "--node-id", "3",
        "--api-host", "0.0.0.0",
        "--listen", "172.16.238.30:5013",
        "--monitoring-port", "6013",
        "--api-port", "4013",
        "--peer", "172.16.238.40:5014",
        "--hydra-signing-key", "/devnet/credentials/ida/ida-hydra.sk",
        "--hydra-verification-key", "/devnet/credentials/bob/bob-hydra.vk",
        "--persistence-dir", "/devnet/persistence/ida-2-sp",
        "--offline-head-seed", "0000000000000000000000000000000000000000000000000000000000000002",
        "--ledger-protocol-parameters", "/devnet/protocol-parameters.json",
        "--initial-utxo", "/devnet/initial-utxos/single-path/utxo-2.json"
      ]
    networks:
      hydra_net:
        ipv4_address: 172.16.238.30

  # Head C: bob-2, charlie-1
  hydra-node-bob-1:
    <<: *hydra-node-base
    volumes:
      - .:/devnet
      - ./persistence/bob-1-sp:/devnet/persistence/bob-1-sp
    ports:
      - "4014:4014"
      - "5014:5014"
    command:
      [
        "--node-id", "4",
        "--api-host", "0.0.0.0",
        "--listen", "172.16.238.40:5014",
        "--monitoring-port", "6014",
        "--api-port", "4014",
        "--peer", "172.16.238.30:5013",
        "--hydra-signing-key", "/devnet/credentials/bob/bob-hydra.sk",
        "--hydra-verification-key", "/devnet/credentials/ida/ida-hydra.vk",
        "--persistence-dir", "/devnet/persistence/bob-1-sp",
        "--offline-head-seed", "0000000000000000000000000000000000000000000000000000000000000002",
        "--ledger-protocol-parameters", "/devnet/protocol-parameters.json",
        "--initial-utxo", "/devnet/initial-utxos/single-path/utxo-2.json"
      ]
    networks:
      hydra_net:
        ipv4_address: 172.16.238.40

  # Head C: bob-2, charlie-1
  hydra-node-bob-2:
    <<: *hydra-node-base
    volumes:
      - .:/devnet
      - ./persistence/bob-2-sp:/devnet/persistence/bob-2-sp
    ports:
      - "4015:4015"
      - "5015:5015"
    command:
      [
        "--node-id", "5",
        "--api-host", "0.0.0.0",
        "--listen", "172.16.238.50:5015",
        "--monitoring-port", "6015",
        "--api-port", "4015",
        "--peer", "172.16.238.60:5016",
        "--hydra-signing-key", "/devnet/credentials/bob/bob-hydra.sk",
        "--hydra-verification-key", "/devnet/credentials/charlie/charlie-hydra.vk",
        "--persistence-dir", "/devnet/persistence/bob-2-sp",
        "--offline-head-seed", "0000000000000000000000000000000000000000000000000000000000000003",
        "--ledger-protocol-parameters", "/devnet/protocol-parameters.json",
        "--initial-utxo", "/devnet/initial-utxos/single-path/utxo-3.json"
      ]
    networks:
      hydra_net:
        ipv4_address: 172.16.238.50

  hydra-node-charlie-1:
    <<: *hydra-node-base
    volumes:
      - .:/devnet
      - ./persistence/charlie-1-sp:/devnet/persistence/charlie-1-sp
    ports:
      - "4016:4016"
      - "5016:5016"
    command:
      [
        "--node-id", "6",
        "--api-host", "0.0.0.0",
        "--listen", "172.16.238.60:5016",
        "--monitoring-port", "6016",
        "--api-port", "4016",
        "--peer", "172.16.238.50:5015",
        "--hydra-signing-key", "/devnet/credentials/charlie/charlie-hydra.sk",
        "--hydra-verification-key", "/devnet/credentials/bob/bob-hydra.vk",
        "--persistence-dir", "/devnet/persistence/charlie-1-sp",
        "--offline-head-seed", "0000000000000000000000000000000000000000000000000000000000000003",
        "--ledger-protocol-parameters", "/devnet/protocol-parameters.json",
        "--initial-utxo", "/devnet/initial-utxos/single-path/utxo-3.json"
      ]
    networks:
      hydra_net:
        ipv4_address: 172.16.238.60

  # Head D: charlie-2, dave
  hydra-node-charlie-2:
    <<: *hydra-node-base
    volumes:
      - .:/devnet
      - ./persistence/charlie-2-sp:/devnet/persistence/charlie-2-sp
    ports:
      - "4017:4017"
      - "5017:5017"
    command:
      [
        "--node-id", "7",
        "--api-host", "0.0.0.0",
        "--listen", "172.16.238.70:5017",
        "--monitoring-port", "6017",
        "--api-port", "4017",
        "--peer", "172.16.238.80:5018",
        "--hydra-signing-key", "/devnet/credentials/charlie/charlie-hydra.sk",
        "--hydra-verification-key", "/devnet/credentials/dave/dave-hydra.vk",
        "--persistence-dir", "/devnet/persistence/charlie-2-sp",
        "--offline-head-seed", "0000000000000000000000000000000000000000000000000000000000000004",
        "--ledger-protocol-parameters", "/devnet/protocol-parameters.json",
        "--initial-utxo", "/devnet/initial-utxos/single-path/utxo-4.json"
      ]
    networks:
      hydra_net:
        ipv4_address: 172.16.238.70

  hydra-node-dave:
    <<: *hydra-node-base
    volumes:
      - .:/devnet
      - ./persistence/dave-sp:/devnet/persistence/dave-sp
    ports:
      - "4018:4018"
      - "5018:5018"
    command:
      [
        "--node-id", "8",
        "--api-host", "0.0.0.0",
        "--listen", "172.16.238.80:5018",
        "--monitoring-port", "6018",
        "--api-port", "4018",
        "--peer", "172.16.238.70:5017",
        "--hydra-signing-key", "/devnet/credentials/dave/dave-hydra.sk",
        "--hydra-verification-key", "/devnet/credentials/charlie/charlie-hydra.vk",
        "--persistence-dir", "/devnet/persistence/dave-sp",
        "--offline-head-seed", "0000000000000000000000000000000000000000000000000000000000000004",
        "--ledger-protocol-parameters", "/devnet/protocol-parameters.json",
        "--initial-utxo", "/devnet/initial-utxos/single-path/utxo-4.json"
      ]
    networks:
      hydra_net:
        ipv4_address: 172.16.238.80

  startup-time-logger:
    image: alpine
    depends_on:
      - hydra-node-alice
      - hydra-node-ida-1
      - hydra-node-ida-2
      - hydra-node-bob-1
      - hydra-node-bob-2
      - hydra-node-charlie-1
      - hydra-node-charlie-2
      - hydra-node-dave
    command: sh -c "echo $$(( $$(date +%s) * 1000 )) > /shared/startup_time.txt && echo 'Timestamp written:' $$(cat /shared/startup_time.txt)"
    volumes:
      - .:/shared

networks:
  hydra_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.16.238.0/24
          gateway: 172.16.238.1

