# Two-heads topology (ID 0)

# Head A: alice, ida-1
# Head B: bob, ida-2

x-hydra-node-base: &hydra-node-base
  image: ghcr.io/cardano-scaling/hydra-node:1.0.0
  networks:
    hydra_net:
  restart: always

services:
  # Head A: alice, ida-1
  hydra-node-alice-2h:
    <<: *hydra-node-base
    volumes:
      - .:/devnet
      - ./persistence/alice-2h:/devnet/persistence/alice-2h
    ports:
      - "4011:4011"
      - "5011:5011"
    command:
      [
        "--node-id", "1",
        "--api-host", "0.0.0.0",
        "--listen", "172.16.238.11:5011",
        "--monitoring-port", "6011",
        "--api-port", "4011",
        "--peer", "172.16.238.19:5019",
        "--hydra-signing-key", "/devnet/credentials/alice/alice-hydra.sk",
        "--hydra-verification-key", "/devnet/credentials/ida/ida-hydra.vk",
        "--persistence-dir", "/devnet/persistence/alice-2h",
        "--offline-head-seed", "0000000000000000000000000000000000000000000000000000000000000001",
        "--ledger-protocol-parameters", "/devnet/protocol-parameters.json",
        "--initial-utxo", "/devnet/initial-utxos/two-heads/utxo-1.json"
      ]
    networks:
      hydra_net:
        ipv4_address: 172.16.238.11

  hydra-node-ida-1-2h:
    <<: *hydra-node-base
    volumes:
      - .:/devnet
      - ./persistence/ida-1-2h:/devnet/persistence/ida-1-2h
    ports:
      - "4019:4019"
      - "5019:5019"
    command:
      [
        "--node-id", "3",
        "--api-host", "0.0.0.0",
        "--listen", "172.16.238.19:5019",
        "--monitoring-port", "6019",
        "--api-port", "4019",
        "--peer", "172.16.238.011:5011",
        "--hydra-signing-key", "/devnet/credentials/ida/ida-hydra.sk",
        "--hydra-verification-key", "/devnet/credentials/alice/alice-hydra.vk",
        "--persistence-dir", "/devnet/persistence/ida-1-2h",
        "--offline-head-seed", "0000000000000000000000000000000000000000000000000000000000000001",
        "--ledger-protocol-parameters", "/devnet/protocol-parameters.json",
        "--initial-utxo", "/devnet/initial-utxos/two-heads/utxo-1.json"
      ]
    networks:
      hydra_net:
        ipv4_address: 172.16.238.19

  # Head B: bob, ida-2
  hydra-node-bob-2h:
    <<: *hydra-node-base
    volumes:
      - .:/devnet
      - ./persistence/bob-2h:/devnet/persistence/bob-2h
    ports:
      - "4022:4022"
      - "5022:5022"
    command:
      [
        "--node-id", "2",
        "--api-host", "0.0.0.0",
        "--listen", "172.16.238.22:5022",
        "--monitoring-port", "6022",
        "--api-port", "4022",
        "--peer", "172.16.238.29:5029",
        "--hydra-signing-key", "/devnet/credentials/bob/bob-hydra.sk",
        "--hydra-verification-key", "/devnet/credentials/ida/ida-hydra.vk",
        "--persistence-dir", "/devnet/persistence/bob-2h",
        "--offline-head-seed", "0000000000000000000000000000000000000000000000000000000000000002",
        "--ledger-protocol-parameters", "/devnet/protocol-parameters.json",
        "--initial-utxo", "/devnet/initial-utxos/two-heads/utxo-2.json"
      ]
    networks:
      hydra_net:
        ipv4_address: 172.16.238.22

  hydra-node-ida-2-2h:
    <<: *hydra-node-base
    volumes:
      - .:/devnet
      - ./persistence/ida-2-2h:/devnet/persistence/ida-2-2h
    ports:
      - "4029:4029"
      - "5029:5029"
    command:
      [
        "--node-id", "4",
        "--api-host", "0.0.0.0",
        "--listen", "172.16.238.29:5029",
        "--monitoring-port", "6029",
        "--peer", "172.16.238.22:5022",
        "--api-port", "4029",
        "--hydra-signing-key", "/devnet/credentials/ida/ida-hydra.sk",
        "--hydra-verification-key", "/devnet/credentials/bob/bob-hydra.vk",
        "--persistence-dir", "/devnet/persistence/ida-2-2h",
        "--offline-head-seed", "0000000000000000000000000000000000000000000000000000000000000002",
        "--ledger-protocol-parameters", "/devnet/protocol-parameters.json",
        "--initial-utxo", "/devnet/initial-utxos/two-heads/utxo-2.json"
      ]
    networks:
      hydra_net:
        ipv4_address: 172.16.238.29

  startup-time-logger:
    image: alpine
    depends_on:
      - hydra-node-alice-2h
      - hydra-node-bob-2h
      - hydra-node-ida-1-2h
      - hydra-node-ida-2-2h
    command: sh -c "echo $$(( $$(date +%s) * 1000 )) > /shared/startup_time.txt && echo 'Timestamp written:' $$(cat /shared/startup_time.txt)"
    volumes:
      - .:/shared

networks:
  hydra_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.16.238.0/24
          gateway: 172.16.238.1

