# Single-path topology (ID 1)

# Head A: alice, ida-1
# Head B: ida-2, bob-1
# Head C: bob-2, charlie

x-hydra-node-base: &hydra-node-base
  image: ghcr.io/cardano-scaling/hydra-node:1.0.0
  networks:
    hydra_net:
  restart: always

services:
  # Head A: alice, ida-1
  hydra-node-alice:
    <<: *hydra-node-base
    volumes:
      - .:/devnet
      - ./persistence/alice-sp:/devnet/persistence/alice-sp
    ports:
      - "4111:4111"
      - "5111:5111"
    command:
      [
        "--node-id", "1",
        "--api-host", "0.0.0.0",
        "--listen", "172.16.238.111:5111",
        "--monitoring-port", "6111",
        "--api-port", "4111",
        "--peer", "172.16.238.119:5119",
        "--hydra-signing-key", "/devnet/credentials/alice/alice-hydra.sk",
        "--hydra-verification-key", "/devnet/credentials/ida/ida-hydra.vk",
        "--persistence-dir", "/devnet/persistence/alice-sp",
        "--offline-head-seed", "0000000000000000000000000000000000000000000000000000000000000001",
        "--ledger-protocol-parameters", "/devnet/protocol-parameters.json",
        "--initial-utxo", "/devnet/initial-utxos/single-path/utxo-1.json"
      ]
    networks:
      hydra_net:
        ipv4_address: 172.16.238.111

  hydra-node-ida-1:
    <<: *hydra-node-base
    volumes:
      - .:/devnet
      - ./persistence/ida-1-sp:/devnet/persistence/ida-1-sp
    ports:
      - "4119:4119"
      - "5119:5119"
    command:
      [
        "--node-id", "2",
        "--api-host", "0.0.0.0",
        "--listen", "172.16.238.119:5119",
        "--monitoring-port", "6119",
        "--api-port", "4119",
        "--peer", "172.16.238.111:5111",
        "--hydra-signing-key", "/devnet/credentials/ida/ida-hydra.sk",
        "--hydra-verification-key", "/devnet/credentials/alice/alice-hydra.vk",
        "--persistence-dir", "/devnet/persistence/ida-1-sp",
        "--offline-head-seed", "0000000000000000000000000000000000000000000000000000000000000001",
        "--ledger-protocol-parameters", "/devnet/protocol-parameters.json",
        "--initial-utxo", "/devnet/initial-utxos/single-path/utxo-1.json"
      ]
    networks:
      hydra_net:
        ipv4_address: 172.16.238.119

  # Head B: bob, ida-2, jon-1
  hydra-node-bob:
    <<: *hydra-node-base
    volumes:
      - .:/devnet
      - ./persistence/bob-sp:/devnet/persistence/bob-sp
    ports:
      - "4122:4122"
      - "5122:5122"
    command:
      [
        "--node-id", "3",
        "--api-host", "0.0.0.0",
        "--listen", "172.16.238.122:5122",
        "--monitoring-port", "6122",
        "--api-port", "4122",
        "--peer", "172.16.238.129:5129",
        "--peer", "172.16.238.128:5128",
        "--hydra-signing-key", "/devnet/credentials/bob/bob-hydra.sk",
        "--hydra-verification-key", "/devnet/credentials/ida/ida-hydra.vk",
        "--hydra-verification-key", "/devnet/credentials/jon/jon-hydra.vk",
        "--persistence-dir", "/devnet/persistence/bob-sp",
        "--offline-head-seed", "0000000000000000000000000000000000000000000000000000000000000002",
        "--ledger-protocol-parameters", "/devnet/protocol-parameters.json",
        "--initial-utxo", "/devnet/initial-utxos/single-path/utxo-2.json"
      ]
    networks:
      hydra_net:
        ipv4_address: 172.16.238.122
  
  hydra-node-ida-2:
    <<: *hydra-node-base
    volumes:
      - .:/devnet
      - ./persistence/ida-2-sp:/devnet/persistence/ida-2-sp
    ports:
      - "4129:4129"
      - "5129:5129"
    command:
      [
        "--node-id", "4",
        "--api-host", "0.0.0.0",
        "--listen", "172.16.238.129:5129",
        "--monitoring-port", "6129",
        "--api-port", "4129",
        "--peer", "172.16.238.122:5122",
        "--peer", "172.16.238.128:5128",
        "--hydra-signing-key", "/devnet/credentials/ida/ida-hydra.sk",
        "--hydra-verification-key", "/devnet/credentials/bob/bob-hydra.vk",
        "--hydra-verification-key", "/devnet/credentials/jon/jon-hydra.vk",
        "--persistence-dir", "/devnet/persistence/ida-2-sp",
        "--offline-head-seed", "0000000000000000000000000000000000000000000000000000000000000002",
        "--ledger-protocol-parameters", "/devnet/protocol-parameters.json",
        "--initial-utxo", "/devnet/initial-utxos/single-path/utxo-2.json"
      ]
    networks:
      hydra_net:
        ipv4_address: 172.16.238.129

  hydra-node-jon-1:
    <<: *hydra-node-base
    volumes:
      - .:/devnet
      - ./persistence/jon-1-sp:/devnet/persistence/jon-1-sp
    ports:
      - "4128:4128"
      - "5128:5128"
    command:
      [
        "--node-id", "5",
        "--api-host", "0.0.0.0",
        "--listen", "172.16.238.128:5128",
        "--monitoring-port", "6128",
        "--api-port", "4128",
        "--peer", "172.16.238.122:5122",
        "--peer", "172.16.238.129:5129",
        "--hydra-signing-key", "/devnet/credentials/jon/jon-hydra.sk",
        "--hydra-verification-key", "/devnet/credentials/bob/bob-hydra.vk",
        "--hydra-verification-key", "/devnet/credentials/ida/ida-hydra.vk",
        "--persistence-dir", "/devnet/persistence/jon-1-sp",
        "--offline-head-seed", "0000000000000000000000000000000000000000000000000000000000000002",
        "--ledger-protocol-parameters", "/devnet/protocol-parameters.json",
        "--initial-utxo", "/devnet/initial-utxos/single-path/utxo-2.json"
      ]
    networks:
      hydra_net:
        ipv4_address: 172.16.238.128

  # Head C: charlie, jon-2 
  hydra-node-charlie:
    <<: *hydra-node-base
    volumes:
      - .:/devnet
      - ./persistence/charlie-sp:/devnet/persistence/charlie-sp
    ports:
      - "4133:4133"
      - "5133:5133"
    command:
      [
        "--node-id", "6",
        "--api-host", "0.0.0.0",
        "--listen", "172.16.238.133:5133",
        "--monitoring-port", "6133",
        "--api-port", "4133",
        "--peer", "172.16.238.138:5138",
        "--hydra-signing-key", "/devnet/credentials/charlie/charlie-hydra.sk",
        "--hydra-verification-key", "/devnet/credentials/jon/jon-hydra.vk",
        "--persistence-dir", "/devnet/persistence/charlie-sp",
        "--offline-head-seed", "0000000000000000000000000000000000000000000000000000000000000003",
        "--ledger-protocol-parameters", "/devnet/protocol-parameters.json",
        "--initial-utxo", "/devnet/initial-utxos/single-path/utxo-3.json"
      ]
    networks:
      hydra_net:
        ipv4_address: 172.16.238.133

  hydra-node-jon-2:
    <<: *hydra-node-base
    volumes:
      - .:/devnet
      - ./persistence/jon-2-sp:/devnet/persistence/jon-2-sp
    ports:
      - "4138:4138"
      - "5138:5138"
    command:
      [
        "--node-id", "7",
        "--api-host", "0.0.0.0",
        "--listen", "172.16.238.138:5138",
        "--monitoring-port", "6138",
        "--api-port", "4138",
        "--peer", "172.16.238.133:5133",
        "--hydra-signing-key", "/devnet/credentials/jon/jon-hydra.sk",
        "--hydra-verification-key", "/devnet/credentials/charlie/charlie-hydra.vk",
        "--persistence-dir", "/devnet/persistence/jon-2-sp",
        "--offline-head-seed", "0000000000000000000000000000000000000000000000000000000000000003",
        "--ledger-protocol-parameters", "/devnet/protocol-parameters.json",
        "--initial-utxo", "/devnet/initial-utxos/single-path/utxo-3.json"
      ]
    networks:
      hydra_net:
        ipv4_address: 172.16.238.138

  startup-time-logger:
    image: alpine
    depends_on:
      - hydra-node-alice
      - hydra-node-ida-1
      - hydra-node-ida-2
      - hydra-node-jon-1
      - hydra-node-jon-2
      - hydra-node-bob
      - hydra-node-charlie
    command: sh -c "echo $$(( $$(date +%s) * 1000 )) > /shared/startup_time.txt && echo 'Timestamp written:' $$(cat /shared/startup_time.txt)"
    volumes:
      - .:/shared

networks:
  hydra_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.16.238.0/24
          gateway: 172.16.238.1

